/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {

 box-sizing: inherit;
 font: inherit;
 text-align: inherit;
 text-decoration: inherit;
 color: inherit;
 margin: 0;
 border: 0;
 padding: 0;
 background-color: transparent;
 font-family: Roboto, sans-serif;
 list-style: none;
 }

a:link {
   text-decoration: underline;
 }

 a:hover {
   cursor: pointer;
 }

 button {
   border: none;
   background-color: white;
   color: black;
   padding: 5px;
   border-radius: 10px;
 }

 button:hover {
   cursor: pointer;
 }

 .login-button {
   border: none;
   background-color: white;
   color: black;
   padding: 5px;
   border-radius: 10px;
   cursor: pointer;
 }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #D3D3D3;
  padding: 15px;
  font-weight: 700;
  height: 40px;
}

.splash-image-container {
  position: relative;
  width: 100%;
}

.splash-image {
  width: 100%;
}

.splash-greeting {
  position: absolute;
  font-weight: 700;
  color: white;
}

.greeting-message {
  font-size: 36px;
}

.greeting-subhead {
  margin-top: 20px;
  font-size: 20px;
}

.login-signup {
  position: absolute;
  top: 120px;
  right: 320px;
  color: white;
  background-color: black;
  opacity: 1;
  padding: 10px;
  list-style: none;
  font-weight: 700;
  font-size: 16px;
  border-radius: 10px;
}

.login-form-container {
  position: absolute;
  padding: 10px;
  top: 230px;
  right: 40px;
  color: white;
  background-color: black;
  opacity: 0.8;
  width: 400px;
  vertical-align: middle;
  border-radius: 10px;
}

.login-input {
  border: 1px solid black;
  background-color: white;
}

.login-form * {
  margin-top: 10px;
  margin-bottom: 5px;
  height: 25px;
}

.login-form-box {
  float: left;
  position: relative;
}

.nav-right {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header-button {
  margin-left: 15px;
}

.header-name {
  font-weight: 700;
}

.guest-login-button {
  position: absolute;
  opacity: 5;
  right: 50px;
  bottom: 100px;
}

.home {
  background-color: white;
  margin: 0 auto;
  width: 960px;
  height: 800px;
}

.input-search {
  background-color: white;
  width: 300px;
  height: 20px;
  font-size: 14px;
}

.sidebar {
  float: left;
  background-color: white;
  margin-left: 20px;
  margin-top: 20px;
  width: 280px;
}

.sidebar-box {
  border: 3px solid black;
  width: 200px;
  margin: 0 auto;
  height: 500px;
}

.album-index-container img {
  width: 150px;
  height: 150px;
}

.album-index-container {
  width: 660px;
  background-color: green;
  float: left;
  margin-top: 20px;
}

.album-index-item {
  padding-left: 10px;
  padding-top: 15px;
  width: 205px;
  display: inline-block;
  height: 220px;
}
