<!DOCTYPE html>
<html>
  <head>
    <title>GoodRecords</title>
    <%= csrf_meta_tags %>
    <link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/jcbalcita/image/upload/v1479568538/favicon-32x32_tiyjtl.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://res.cloudinary.com/jcbalcita/image/upload/v1479568538/favicon_dbc0xf.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/jcbalcita/image/upload/v1479568538/favicon-16x16_aoetqc.png">
    <link rel="icon" href="https://res.cloudinary.com/jcbalcita/image/upload/v1479568538/favicon_dbc0xf.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700,900" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
